html {
    scroll-behavior: smooth;
}

body {

    background-color:grey;
    font-family: sans-serif;
    font-size: 14px;
}

h1 {
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
    color: darkblue;
}
h2 {
    color:mediumblue;
}
p {
    text-align: justify ;
}